body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }

  .menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn {
    color: #fff;
    background-color: transparent;
    padding: 2px 50px;
    margin: 15px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 25px;
    transition: background-color 0.5s; 
  }

  .btn:hover {
    background-color: white;
    color: #000;
  }